<html>

<head>
  <title>Voting Admin</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div id="voting" style="margin-left: 5em;">
    <h1> Administrative Interface </h1>
    <form v-on:submit.prevent="addCandidate">
      <input type="text" v-model="candidate">
      <button type="submit">Add Candidate</button>
    </form>

    <h1>Current Candidates</h1>
    <div v-for="candidate in candidates">
      <span class="glyphicon glyphicon-remove" 
        v-on:click="deleteCandidate(candidate)"></span> 
        {{candidate.Name}} - votes {{candidate.votes}}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="javascripts/app.js"></script>
</body>

</html>
